<!---<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href='/static/style.css' />
</head>
<title>Smart Turntable</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34$
</head>
<body>

<h1 style="text-align:center;">Smart Turntable</h1>
<h1 style="text-align:center; color:blue;">Welcome to revolutionizing record players!</h1>
<h2><span style="text-decoration: underline;"><em>Please Sign In</em></span></h2>

<form action="/action_page.php">
<h3 style="text-align:center;">Username:<input type="text" name="Uname"><br></h3>
<h3 style="text-align:center;">Password:<input type="text" name="Password"><br></h3>
<input type="submit" value="Sign In">
</form>
<h3><button type="button">   Sign In</button>
<h3><button type="button">   Forgot password?</button>
</body>
</html>
--->



<!DOCTYPE html>
<html lang="en">
<title>Smart Turntable</title>
<h1 style="text-align:center;">Smart Turntable</h1>
<h1 style="text-align:center; color:blue;">Welcome to revolutionizing record players</h1>
<h3 style="text-align:center;">
<body>

        <div class="limiter">
                <div class="container-login100">
 <div class="wrap-login100 p-b-160 p-t-50">
                                <form class="login100-form validate-form">
                                        <span class="login100-form-title p-b-43">
                                                Account Login
                                        </span>

                                        <div class="wrap-input100 rs1 validate-input" data-validate = "Username is required">
                                                <input class="input100" type="text" style="center;" name="username">
                                                <span class="label-input100">Username</span>
                                        </div>


                                        <div class="wrap-input100 rs2 validate-input" data-validate="Password is required">
                                                <input class="input100" type="password" style="center;" name="pass">
                                                <span class="label-input100">Password</span>
                                        </div>

                                        <div class="container-login100-form-btn">
                                                <button class="login100-form-btn">
                                                        Sign in

 </button>
                                        </div>
 <div class="text-center w-full p-t-23">
                                                <a href="#" class="txt1">
                                                        Create a new account

                                        <div class="text-center w-full p-t-23">
                                                <a href="#" class="txt1">
                                                        Forgot password?
                                                </a>
                                        </div>
                                </form>
                        </div>
                </div>
        </div>
</h3>
</html>



