{% extends "layout.html" %}

{% block title %}
    {{ album.name }}
{% endblock %}

{% block body %}
    <select>
        
      <option value="">Select Track</option>
        {% for track in tracks %}
      <option value="{{ track.id }}">{{ track.title }}</option>
        {% endfor %}
    </select>
    <input type="submit" name="previous" value="Previous Track">
    <input type="submit" name="play" value="Play">
    <input type="submit" name="pause" value="Pause">
    <input type="submit" name="next" value="Next Track">
{% endblock %}
