{% extends "layout.html" %}

{% block title %}
    Select Track
{% endblock %}

{% block body %}
    <h1>Select a Track</h1>
    <h3>Current Album: {{ album.name }}</h3>
    <form action="{{ url_for('play_track') }}" method="post">
        <select name="track_select">
            <option value="">Select Track</option>
        {% for track in tracks %}
            <option value="{{ track.id }}">{{ track.name }}</option>
        {% endfor %}
        </select>
        <button type="submit">Select</button>
    </form>
{% endblock %}